In [2]:
import pandas as pd
df=pd.read_csv("../data/data.csv")
df.head()

   footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0         0         7   7    1   6    6  36   3            1     1
1       190         1   3    3   5    1  20   4            1     0
2        31         7   2    2   6    1  24   6            1     0
3        83         4   3    4   5    1  28   6            1     0
4       640         7   5    6   4    0  68   6            1     0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   footfall     944 non-null    int64
 1   tempMode     944 non-null    int64
 2   AQ           944 non-null    int64
 3   USS          944 non-null    int64
 4   CS           944 non-null    int64
 5   VOC          944 non-null    int64
 6   RP           944 non-null    int64
 7   IP           944 non-null    int64
 8   Temperature  944 non-null    int64
 9   fail         944 non-null    int64
dtypes: int64(10)
memory usage: 73.9 KB

In [ ]:
df["fail"].value_counts()
#there is no signicant class imbalance here

fail
0    551
1    393
Name: count, dtype: int64

In [15]:
df.columns

Index(['footfall', 'tempMode', 'AQ', 'USS', 'CS', 'VOC', 'RP', 'IP',
       'Temperature', 'fail'],
      dtype='object')

In [20]:
num_col=['footfall','AQ','USS','CS','VOC','RP','IP','Temperature']
cat_col="tempMode"
df_target=df["fail"]

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_numerical = scaler.fit_transform(df[num_col])
scaled_df = pd.DataFrame(scaled_numerical, columns=num_col)

In [23]:
final_df = pd.concat([scaled_df, df[['tempMode', 'fail']]], axis=1)

In [24]:
final_df.to_csv("processed_data.csv", index=False)

In [25]:
import pickle
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)